<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="titleofpage">
                <img src="/imgs/book-outline.svg" alt="book">
                <h1>&nbsp;Library</h1>
            </div>
        </div>
        <div class="bottom">
            <div class="navbar">
                <a href="/">Home</a>
                <a href="/addentry">Add</a>
                <a href="/deleteentry">Delete</a>
                <a href="/search">Search</a>
            </div>
            <div class="displayandresults">
                <div class="addresults">
                    <h1>Entries</h1>
                    {{#each result}}
                    <div class="card">
                        <li>Title: {{title}} <br>
                            Author: {{author}} <br>
                            Genre: {{genre}}<br>
                            Pages: {{pages}}</li>
                    </div>
                    {{/each}}
                </div>
                <div class="eachpagedisplay">
                    {{{body}}}
                </div>

            </div>
        </div>
    </div>

</body>

</html>